// FLat UI Colors
/* ------------------
	# red
	# green
	# blue
	# yellow
	# grey
------------------  */
// # red
.alizarin{
	$color : #e74c3c;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.pomegranate{
	$color : #c0392b;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
// # green
.nephritis{
	$color: #27ae60;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.emerald{
	$color: #2ecc71;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
// # blue
.turquoise{
	$color: #1abc9c;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.greensea{
	$color: #16a085;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.peterriver{
	$color: #3498db;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.belizehole{
	$color: #2980b9;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.wisteria{
	$color: #8e44ad;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.amethyst{
	$color: #9b59b6;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
// # yellow
.sunflower{
	$color: #f1c40f;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.orange{
	$color: #f39c12;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.carrot{
	$color: #e67e22;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.pumpkin{
	$color: #e67e22;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
// grey
.wetasphalt{
	$color: #34495e;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.midnightblue{
	$color: #2c3e50;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.concrete{
	$color: #95a5a6;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
.asbestos{
	$color: #7f8c8d;
	&.background{
		background:$color;
	}
	&.color{
		color: $color;
	}
}
